body{
    background-color:lawngreen;
    align-items: center;
}
button{
    background:purple;
    border:none;
    color:#ffffff;
    border-radius:45%;
    cursor:pointer;
    transition:background .2s;
    font-size:1rem;
    width:6rem;
    height:3rem;
}

button:hover{
    background:mediumpurple;
}

.main-content{
    align-items:center;
}



